h3, p {
    margin: 0;
}

.artists {
    width: 800px;
    display: block;
}

.artist {
    background-color: #f9f9f9;
    padding: 10px 10px;
}

.album {
    font-weight: 500;
    padding: 10px 20px;
}

.song {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
}