<h2>Example</h2>

<div class="container">
    <input type="text" class="search-input" placeholder="Search by artist, album or song" (input)="ngxTree.search(input.value)" #input>

    <ngx-tree [config]="config" #ngxTree>
        <ng-template ngxTreeLevel searchableBy="name" let-artist>
            <div class="artist">
                <h3> {{ artist.name }}</h3>
            </div>
        </ng-template>
    
        <ng-template ngxTreeLevel searchableBy="name" property="albums" let-album>
            <div class="album">
                <p>{{ album.name }}</p>
            </div>
        </ng-template>
    
        <ng-template ngxTreeLevel searchableBy="title" property="songs" let-song let-index="index">
            <div class="song">        
                <span>#{{index + 1}} - {{ song.title }}</span>
                <span>{{ song.duration }}</span>
            </div>
        </ng-template>

        <ng-template ngxEmptySearch>
            <p>We weren't able to find any result that matches your search</p>
        </ng-template>
    </ngx-tree>
</div>